.replies-container {
	left:	30px;
	position: relative;
}

.root-comment {
    text-decoration: underline;
    margin-bottom: 0px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    font-size: 13px;
    color: #c89e9e;
    margin-bottom: 10px;
}

.upvotes-icon {
    height: 17px;
}

.reply-button {
    color: #888888;
    font-weight: bold;
    padding: 0 1px;
}

.comment-box {
    width: 300px;
    height: 70px;
}

.comment-editor * {
    display: block;
}