.replies-container {
	left:	30px;
	position: relative;
}

.root-comment {
    text-decoration: underline;
    margin-bottom: 0px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    font-size: 13px;
    color: #c89e9e;
    margin-bottom: 10px;
}

.reply-button {
    color: #888888;
    font-weight: bold;
    padding: 0 1px;
}

input, textarea {
    width: 400px;
}

.comment-box {
    width: 300px;
    height: 70px;
}

.comment-editor * {
    display: block;
}

.page-header {
    margin-top: 20px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.header-container {
    margin-top: 0;
    background-color: white;
    position: fixed;
    top: 0;
}

.upvote-icon {
    display: inline-block;
}

div#topics {
    margin-top: 120px;
}

form#new-topic-form {
    display: none;
    margin-top: 30px;
    position: relative;
    left: -80px;
}
